:root {
  --text-color: #667085;
  --main-color: #8e2424;
  --text-glayblack: #101828;
}

html{
  font-family: 'Inter', sans-serif;
  font-size: 16px; 
  color: var(--text-color)
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 7rem;
}

li {
  list-style: none;
}

ul {
  gap: 1rem;
  display: flex;
}

header {
  display: flex;
  justify-content: flex-start-end;
  align-items: center;
  height: 80px;
  width: 1212px;
  gap: 119px;
}

.logotipo a img {
  margin-right: 0.5rem;
}

.logotipo {
  /* Display ativo direção em linha, justificado no centro e alinhado ao centro */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 9.25rem;
}

.menu {
  gap: 2rem;
  justify-content: center;
  font-size: 1rem;
  line-height: 1.5rem;
}

.menu a:hover {
  color: black;
}

.logo {
  width: 142px;
  height: 40px;
  background-color: transparent;
}

button {
  padding: 0.8rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  background: none;
  color: var(--main-color);
  font-size: 0.9rem;
}

button#signUp {
  background-color: var(--main-color);
  color: #fff;
}

/*-------------------- Section -----------------------*/
/* CSS para armazenar essa cor */

.cabecalho {
  /* quando quiser alinhar texto ao container */
  display: block;
  text-align: center;
  margin: 98px 0px 107px 0px;
}

span {
  color: var(--main-color);
  font-weight: bold;
  font: 16px;
  line-height: 24px;
  margin-top: 96px;
}

h1 {
  color: var(--text-glayblack);
  font-size: 48px;
  line-height: 60px;
  margin: 24px 0 36px 0;
  font-weight: bold;
}

p {
  font-size: 20px;
  line-height: 30px;
  width: 791px;
  text-align: center;
}

/*------------------------ Section 2  ----------------------------*/
.metricas-container {
  height: 288px;
  display: flex;
  flex-direction: row;
  gap: 32px;
}


.metri-1 {
  width: 280px;
  height: 192px;
  display: block;
  padding-bottom: 96px;
}

.metri-1 h1 {
  color: var(--main-color);
  margin: 12px;
  font-size: 60px;
}

.p-glayBlack {
  margin-bottom: 8px;
  text-align: start;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-glayblack);
}

.metri-1 p {
  width: 280px;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
}

/*----------------- Vagas para Talentos  ---------------*/
.conteudo{
  display: block;
  text-align: center;
  margin-top: 100px;
}

.conteudo span {
  font: 14px;
  line-height: 20px;
}

.conteudo h1 {
  color: var(--text-glayblack);
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  margin: 20px 0px;
}

.conteudo p {
  font-weight: 400px;
  font-size: 20px;
  line-height: 30px;
  margin: 20px 224px 64px 224px;
}

