/* -------- Desafio 1 - Menu --------- */
:root {
  --text-rotape: #98a2b3;
  --text-color: #667085;
  --main-color: #8e2424;
  --text-glayblack: #101828;
  --barckground-button: #6e0909;;
  --bordervaga-glaywhite: #eaecf0;
  --background-footer: #f9fafb;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: var(--text-color);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 7rem;
}

ul {
  gap: 1rem;
  display: flex;
  height: 5rem;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  width: 75.75rem;
  gap: 25.2rem;
}

.navbar {
  display: flex;
  gap: 7.4375rem;
}

.logotipo a img {
  margin-right: 0.5rem;
}

.logotipo {
  /* Display ativo direção em linha, justificado no centro e alinhado ao centro */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu {
  gap: 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
}

.menu a:hover {
  color: black;
  text-decoration: underline var(--main-color) solid 3px ;
}

button {
  padding: 0.8rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  background: none;
  color: var(--text-color);
  font-weight: bold;
}

button:hover {
  background-color:var(--bordervaga-glaywhite)
}

button#signUp {
  background-color: var(--main-color);
  width: 7rem;
  height: 2.75rem;
  color: #fff;
  letter-spacing: 0.0625rem;
  font-weight: bold;
}

button#signUp:hover{
  background-color: var(--barckground-button);
}

/*----------- Desafio 2 - Conteudo - Section ------------*/
.cabecalho {
  /* quando quiser alinhar texto ao container */
  display: block;
  text-align: center;
  margin: 6.125rem 0rem 6.69rem 0rem;
}

.cabecalho span {
  color: var(--main-color);
  font-weight: bold;
  font: 1rem;
  line-height: 1.5rem;
  margin-top: 6rem;
}

h1 {
  color: var(--text-glayblack);
  font-size: 3rem;
  line-height: 3.75rem;
  margin: 1.5rem 0 2.25rem 0;
  font-weight: bold;
}

p {
  font-size: 1.25rem;
  line-height: 1.875rem;
  width: 48rem;
  text-align: center;
}

/*--------- Desfio 3 - Sobre - Section 2  -------------*/
.metricas-container {
  height: 18rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.metri-1 h2 {
  color: var(--main-color);
  margin: 0rem 0rem 0.75rem 0rem;
  font-weight: bold;
  font-size: 3.75rem;
}

.p-glayblack {
  text-align: start;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--text-glayblack);
  margin-bottom: 0.5rem;
}

.metri-1 p {
  width: 17.5rem;
  text-align: left;
  font-weight: 400 bold;
  font-size: 1rem;
  line-height: 1.5rem;
}

/*----------- Desafio 4 Vagas para Talentos  ------------*/
.conteudo {
  display: block;
  text-align: center;
  margin-top: 6.25rem;
}

.conteudo span {
  color: var(--main-color);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: bold;
}

.conteudo h1 {
  color: var(--text-glayblack);
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.75rem;
  letter-spacing: -0.02rem;
  margin: 1.25rem auto;
}

.conteudo p {
  font-weight: 25rem;
  font-size: 1.25rem;
  line-height: 1.88rem;
  margin: 1.25rem auto 4rem auto;
}

.conteudo .reuniao {
  max-width: 100%;
}

/* ------------- Desafio 5 - informação Vagas ---------- */

.design {
  display: block;
  width: 769px;
  height: 358px;
  margin: 62px;
  gap: 32px;
  border: 1px solid red;
}

.design p {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: var(--text-glayblack);
  text-align: start;
  margin-bottom: 32px;
}

.vaga {
  width: 720px;
  height: 86px;
  margin-bottom: 24px;
  padding: 24px 24px 28px 24px;
  border: 1px solid var(--bordervaga-glaywhite);
  border-radius: 16px;
}

.titulo-vaga {
  color: var(--text-glayblack);
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}

.informacoes {
  display: flex;
  gap: 24px;
}

.informacoes span {
  font-weight: bold;
  line-height: 1.5rem;
  margin: 32px 0px 28px 0px;
  color: var(--text-color);
}

.dev-software {
  display: block;
  width: 769px;
  height: 529px;
  gap: 32px;
  border: 1px solid red;
  margin-bottom: 96px;
}

.dev-software p {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: var(--text-glayblack);
  text-align: start;
  margin-bottom: 32px;
}

/* ---------- Desafio - 6  Section Depoimentos  --------- */
.depoimentos {
  width: 1088px;
  height: 291px;
  margin-bottom: 96px;
  border-radius: 16px;
  text-align: center;
  background-color: rgba(195, 25, 25, 0.03);
  padding: 66px 64px 42px 64px;
}

.depoimentos span {
  text-align: left;
  font-weight: bold;
  font-size: 1rem;
  color: var(--main-color);
}

.depoimentos h1 {
  width: 1088px;
  height: 88px;
  font-weight: bold;
  font-size: 35px;
  line-height: 44px;
  letter-spacing: -2%;
  margin: 16px auto;
}

.depoimentos img {
  margin-top: 16px;
  margin-bottom: 10px;
}

p.colabNome {
  font-weight: bold;
  color: var(--text-glayblack);
  font-size: 16px;
  line-height: 24px;
}

.depoimentos p {
  text-align: center;
  margin: 4px auto 0px auto;
  font-size: 14px;
  line-height: 20px;
}

/* -------------- Desafio 7 - Footer -------------- */
.rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  height: 435px;
  background-color: var(--background-footer);
  position: static;
  border: 1px solid red;
  padding: 95px, auto, 95px, auto;
}

.rodape h1 {
  margin: 96px 0 20px 0;
  font-weight: bold;
  font-size: 35px;
  line-height: 44px;
  letter-spacing: -2%;
}

.rodape p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 40px;
}

.email {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 32px;
}

#emailbox {
  width: 360px;
  height: 2.75rem;
  font-size: 24px;
  padding: 12px, 14px, 12px, 16px;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

#signDown {
  background-color: var(--main-color);
  width: 7rem;
  height: 2.75rem;
  color: #fff;
  letter-spacing: 0.0625rem;
}

.direitos-res p {
  font-size: 16px;
  color: var(--text-rotape);
  line-height: 24px;
  margin-bottom: 96px;
}
