:root {
  --text-color: #667085;
  --main-color: #8e2424;
  --text-glayblack: #101828;
}

html{
  font-family: 'Inter', sans-serif;
  font-size: 1rem; 
  color: var(--text-color)
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 7rem;
}

ul {
  gap: 1rem;
  display: flex;
  height: 5rem;
  align-items: center;
}

header {
  display: flex;
  justify-content: flex-start-end;
  align-items: center;
  width: 75.75rem;
  gap:25.2rem
}

.navbar{
  display: flex;
  gap: 7.4375rem;
}

.logotipo a img {
  margin-right: 0.5rem;
}

.logotipo {
  /* Display ativo direção em linha, justificado no centro e alinhado ao centro */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu {
  gap: 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.menu a:hover {
  color: black;
}

button {
  padding: 0.8rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  background: none;
  color: var(--text-color);
}

button#signUp {
  background-color: var(--main-color);
  width: 7rem;
  height: 2.75rem;
  color: #fff;
  letter-spacing: 0.0625rem;
}

/*-------------------- Section -----------------------*/
/* CSS para armazenar essa cor */

.cabecalho {
  /* quando quiser alinhar texto ao container */
  display: block;
  text-align: center;
  margin: 6.125rem 0rem 6.69rem 0rem;
}

span {
  color: var(--main-color);
  font-weight: bold;
  font: 1rem;
  line-height: 1.5rem;
  margin-top: 6rem;
}

h1 {
  color: var(--text-glayblack);
  font-size: 3rem;
  line-height: 3.75rem;
  margin: 1.5rem 0 2.25rem 0;
  font-weight: bold;
}

p {
  font-size: 1.25rem;
  line-height: 1.88rem;
  width: 49.44rem;
  text-align: center;
}

/*------------------------ Section 2  ----------------------------*/
.metricas-container {
  height: 18rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}


.metri-1 {
  width: 17.5rem;
  height: 12rem;
  display: block;
  padding-bottom: 6rem;
}

.metri-1 h1 {
  color: var(--main-color);
  margin: 0.75rem;
  font-size: 3.75rem;
}

.p-glayBlack {
  margin-bottom: 0.5rem;
  text-align: start;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--text-glayblack);
}

.metri-1 p {
  width: 17.5rem;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5rem;
}

/*----------------- Vagas para Talentos  ---------------*/
.conteudo{
  display: block;
  text-align: center;
  margin-top: 6.25rem;
}

.conteudo span {
  font: 0.875rem;
  line-height: 1.25rem;
}

.conteudo h1 {
  color: var(--text-glayblack);
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.75rem;
  letter-spacing: -0.02rem;
  margin: 1.25rem 0rem;
}

.conteudo p {
  font-weight: 25rem;
  font-size: 1.25rem;
  line-height: 1.88rem;
  margin: 1.25rem 14rem 4rem 14rem;
}

